<div class="page-main">
  <section class="content-header">
    <div class="section-header">
      <div class="row">
        <div class="col-6 col-sm-6">
          <label style="font-size: 18px;">
             <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item" style="font-size: 18px;"><a [routerLink]="['/']">1.1 ข้อมูลค่าพารามิเตอร์</a></li>
            </ol>
        </label>
        </div>
        <div class="col-6 col-sm-6" style="text-align: right;">
          <button class="mat-btn-tpso" mat-raised-button type="button" (click)="onAddParamsGroup()">
            <mat-icon class="mr-2">add_circle</mat-icon>เพิ่ม
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content box-content">
    <div class="row">
      <div class="row">
        <div class="col-lg-3 col-4" *ngFor="let result of paramGroup" style="margin-top: 25px;">
          <mat-card class="mt-4 center" appMaterialElevation style="background-color: #18a2b8;height: 200px;width: 280px;" *ngIf="result.isDeleted != groupDeleted">            
            <a (click)="goToParamInfo(result)">
              <mat-card-header style="height:55%;">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="textHeader countProvince" id="regionName">{{result.paramLocalDescription}}
                </mat-card-title>
              </mat-card-header>
            </a>
            <mat-card-subtitle>{{result.paramGroup}}</mat-card-subtitle>
            <mat-card-actions>
              <a (click)="onEditParamsGroup(result)" class="card-button" mat-button>แก้ไขข้อมูล</a>
              <a [swal]="deleteAmphurSwal" class="card-button" mat-button>ลบ</a>
              <swal #deleteAmphurSwal title="คุณต้องการลบข้อมูล  {{result.paramGroup}} ใช่หรือไม่?" 
              [confirmButtonText]="'ตกลง'" [cancelButtonText]="'ยกเลิก'" text="" type="info"
                [showCancelButton]="true" (confirm)="deleteParamGroup(result)"></swal>
            </mat-card-actions>
          </mat-card>
          <mat-card class="mt-4 center" appMaterialElevation style="background-color: #464a4b8a;height: 200px;width: 280px;" *ngIf="result.isDeleted == groupDeleted">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="textHeader countProvince" id="regionName">{{result.paramLocalDescription}}
                </mat-card-title>
              </mat-card-header>
            <mat-card-subtitle>{{result.paramGroup}}</mat-card-subtitle>
            <mat-card-actions>
              <a (click)="onEditParamsGroup(result)" class="card-button" mat-button>แก้ไขข้อมูล</a>
              <a class="card-button" mat-button disabled>ลบ</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
</div>
<swal #delSuccussParamGroupSwal title="ลบข้อมูลสำเร็จ" [allowOutsideClick]="false" 
[confirmButtonText]="'ตกลง'" (confirm)="getParamGroup()" text=""
  type="success"></swal>
