.icon-region {
  width: 60px;
  margin-bottom: 20px;
}

.rss.opacity {
  filter: opacity(20%);
}

.small-box>.small-box-footer {
  font-size: 12px;
}

a {
  color: black;
}

.content-box {
  padding: 3%;
}

.dropdown-menu a {
  color: black !important
}

table {
  width: 100%;
}


mat-paginator {
  width: 100%;
}

.inactive-status {
    color: red;
}

.active-status {
    color: green;
}
