table {
    width: 210%;
}
.mat-column-commodityLevel {
    width: 4%;
    // text-align: right;
  }

//   .mat-column-commodityCode {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-commodityName {
//     width: 20%;
//     // text-align: right;
//   }

  .mat-column-yearTerm {
    width: 5%;
    // text-align: right;
  }

//   .mat-column-weight01 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight02 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight03 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight04 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight01 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight05 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight06 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight07 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight08 {
//     width: 8%;
//     // text-align: right;
//   }

// .mat-column-weight09 {
//     width: 8%;
// }

//   .mat-column-weight10 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight11 {
//     width: 8%;
//     // text-align: right;
//   }

//   .mat-column-weight12 {
//     width: 8%;
//     // text-align: right;
//   }

  
//   .mat-column-weightTotal {
//     width: 8%;
//     // text-align: right;
//   }

  
//   .mat-column-weightAvg {
//     width: 8%;
//     // text-align: right;
//   }
  