<div class="page-main">
  <section class="content-header">
    <div class="section-header">
      <div class="row">
        <div class="col-6 col-sm-6">
          <h3>{{amphurName}}</h3>
          <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a [routerLink]="['/region']">ภูมิภาค</a></li>
            <li class="breadcrumb-item"><a (click)="backToprovince()">{{breadcrumb.region}}</a></li>
            <li class="breadcrumb-item"><a (click)="backToAmphur()">{{breadcrumb.province}}</a>
            </li>
            <li class="breadcrumb-item active">{{breadcrumb.amphur}}</li>
          </ol>
        </div>
        <div class="col-6 col-sm-6" style="text-align:right;">
          <!-- <button class="mat-btn-tpso" mat-raised-button type="button" (click)="onAddTambol()">
                        <mat-icon>add_circle</mat-icon>&nbsp;เพิ่ม
                    </button> -->
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="section-content box-content">
      <div class="row">
        <div class="col-6 col-sm-6">
          <!-- <button class="mat-btn-tpso" mat-raised-button type="button" (click)="onAddTambol()"> -->
            <button class="mat-btn-tpso" mat-raised-button type="button" (click)="onErrorSwal()">
            <mat-icon>add_circle</mat-icon>&nbsp;เพิ่ม
          </button>
        </div>
        <div class="col-6 col-sm-6">
          <form [formGroup]="stateForm">
            <div id="customInput">
              <mat-form-field appearance="outline" style="float: right">
                <mat-label style="font-size: 16px;">ค้นหา </mat-label>
                <input type="text" matInput placeholder="ค้นหา" [matAutocomplete]="autoGroup" #inputTambol>
                <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="optionSelected($event)"
                  [displayWith]="displayFn">
                  <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                      {{name.name}}
                    </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
                <mat-icon *ngIf="!searchLoading" matSuffix>search</mat-icon>
                <mat-spinner *ngIf="searchLoading" matSuffix [diameter]="15"></mat-spinner>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-3 col-sm-6 col-12" *ngFor="let result of tambol">

          <mat-card class="mt-4 center" appMaterialElevation>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{result.tambolName}}</mat-card-title>
            </mat-card-header>
            <!-- <mat-card-content>
              <h6 class="textHeader">{{result.postcode}}</h6>
            </mat-card-content> -->
            <mat-card-actions>
              <a (click)="onErrorSwal()" class="card-button" mat-button>แก้ไขข้อมูล</a>
              <a (click)="onErrorSwal()" class="card-button" mat-button>ลบ</a>
              <!-- <a (click)="onEditTambol(result)" class="card-button" mat-button>แก้ไข</a>
              <a [swal]="deleteTambolSwal" class="card-button" mat-button>ลบ</a>
              <swal #deleteTambolSwal title="คุณต้องการลบ{{result.tambolName}} <br />ใช่หรือไม่?" text="" type="info"
                [showCancelButton]="true" (confirm)="deleteTambol(result)"></swal> -->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="row noDataResult" *ngIf="tambolTotal <= 0">
        <div class="col-12">
          <div style="text-align: center;">ไม่พบข้อมูลตำบล</div>
        </div>
      </div>
    </div>
  </section>
</div>
<swal #deleteSuccussSwal title="ลบข้อมูลสำเร็จ" [allowOutsideClick]="false" text="" type="success"></swal>
<swal #errorAmphurSwal text="" type="error"></swal>
<swal #errorSwal title="" text="" type="error"></swal>