<h1 mat-dialog-title>เพิ่ม พารามิเตอร์</h1>
<form [formGroup]="addParamsGroupForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-3 text-right mt-1">
                <p>กลุ่มพารามิเตอร์:</p>
            </div>
            <div class="col-9">
                <input class="form-control" formControlName="paramGroup" maxlength="30"
                    [ngClass]="{'is-invalid': submitted && f.paramGroup.errors}">
                <div *ngIf="submitted && f.paramGroup.errors" class="invalid-feedback">
                    <div *ngIf="f.paramGroup.errors.required" class="text-danger help-block">
                        กรุณากรอกกลุ่มพารามิเตอร์
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right mt-1">
                <p>ชื่อภาษาไทย:</p>
            </div>
            <div class="col-9">
                <input class="form-control" formControlName="paramGroupNameTh" maxlength="200"
                    [ngClass]="{'is-invalid': submitted && f.paramGroupNameTh.errors}">
                <div *ngIf="submitted && f.paramGroupNameTh.errors" class="invalid-feedback">
                    <div *ngIf="f.paramGroupNameTh.errors.required" class="text-danger help-block">
                        กรุณากรอกชื่อภาษาไทยพารามิเตอร์
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-right mt-1">
                <p>ชื่อภาษาอังกฤษ:</p>
            </div>
            <div class="col-9">
                <input class="form-control" formControlName="paramGroupNameEn" maxlength="200"
                    [ngClass]="{'is-invalid': submitted && f.paramGroupNameEn.errors}">
                <div *ngIf="submitted && f.paramGroupNameEn.errors" class="invalid-feedback">
                    <div *ngIf="f.paramGroupNameEn.errors.required" class="text-danger help-block">
                        กรุณากรอกชื่อภาษาอังกฤษพารามิเตอร์
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div mat-dialog-actions style="float: right;">
        <button type="submit" mat-raised-button color="primary">บันทึก</button>
        <button mat-raised-button [mat-dialog-close]="">ยกเลิก</button>
    </div>
</form>
<swal #addParamGroupSwal title="คุณต้องการบันทึกข้อมูล <br>ใช่หรือไม่" text="" 
    [confirmButtonText]="'ตกลง'" [cancelButtonText]="'ยกเลิก'" type="info" [showCancelButton]="true"
    (confirm)="onSaveParamGroup()"></swal>
<swal #succussParamGroupSwal title="บันทึกข้อมูลสำเร็จ" [allowOutsideClick]="false" 
[confirmButtonText]="'ตกลง'" (confirm)="closeDialog()" text="" type="success"></swal>