<ul class="treeview">
  <li *ngFor="let node of nodes" class="list-item">
    <div class="item">
      <a *ngIf="node.loading" class="toggle"><i class="fa fa-spinner fa-spin"></i></a>
      <a *ngIf="node.sopTotalChild > 0 && !node.showChild && !node.loading" class="toggle"
        (click)="viewChildNode(node.sopId)">
        <i class="fa fa-caret-right"></i>
      </a>
      <a *ngIf="node.sopTotalChild > 0 && node.showChild && !node.loading" class="toggle"
        (click)="hideChildNode(node.sopId)">
        <i class="fa fa-caret-down"></i>
      </a>
      <span class="tree-label">( {{node.sopCode}} ) <span *ngIf="node.sopLevel > 6">{{node.cpa.commodityCode}} -
        </span>&nbsp;{{node.sopThName}}</span>
      <span *ngIf="node.sopLevel < 7">
        <a [swal]="deleteNodeSwal" class="mr-2" style="float: right" title="Delete">
          <mat-icon>delete</mat-icon>
        </a>
        <swal #deleteNodeSwal title="คุณต้องการลบข้อมูล ใช่หรือไม่?" text="" type="info" [showCancelButton]="true"
          (confirm)="deleteNode(node)"></swal>
        <a class="mr-2" style="float: right" (click)="editNode(node)" title="Edit"><i class="fa fa-edit"></i></a>
        <a class="ml-3 mr-2" style="float: right" (click)="addNode(node)" title="Add child">
          <mat-icon>add</mat-icon>
        </a>
      </span>
    </div>
    <app-tree-sop [nodes]="node.child" *ngIf="node.child && node.showChild" (clickViewChildNode)="viewChildNode($event)"
      (clickHideChildNode)="hideChildNode($event)" (addChildNode)="addNode($event)"
      (deletedChildNode)="deleteNode($event)" (editChildNode)="editNode($event)"></app-tree-sop>
  </li>
</ul>
