.tab-content{
    min-height: 450px;
}
table {
    width: 100%;
}
.tab-body{
    padding: 2%;
}
.mat-column-baseYear{
    width: 10%;
    text-align: center;
}
.mat-column-yearTerm{
    width: 10%;
    text-align: center;
}
.mat-column-monthTerm{
    width: 10%;
    text-align: center;
}
.mat-column-commodityCode{
    width: 15%;
    text-align: center;
}
.mat-column-commodityName{
    width: 20%;
}
.mat-column-price{
    text-align: center;
    width: 15%;
}
.mat-column-action{
    text-align: center;
    width: 10%;
}
.section-search {
    background-color: white;
    box-shadow: 2px 5px 27px 0px #e6e6e6;
}

.mat-column-commodityThName{
    width: 30%;
}
.mat-column-commodityEnName{
    width: 30%;
}
.make-AnswerN{
    background-color: #f7b2b2;
}


  
  