table {
    width: 100%;
}
.mat-column-baseYear{
    width: 10%;
}
.mat-column-yearTerm{
    width: 10%;
}
.mat-column-monthTerm{
    width: 10%;
}
.mat-column-commodityCode{
    width: 15%;
}
.mat-column-commodityName{
    width: 30%;
}
.mat-column-price{
    text-align: center;
    width: 10%;
}
.mat-column-action{
    width: 10%;
}