th,
td {
  border: 0px;
}
body {
  background-color: #f4f6f9;
  font-family: "kanit";
}
h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-main {
  min-height: 100vh;
}
.content-wrapper > .content {
  padding: 33px 0.5rem;
}
.content-header {
  padding: 15px 0rem !important;
}
.section-header {
  // border-left: 4px solid #00b3ea;
  // background-color: rgba(0, 0, 0, 0.03);
  padding: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.box-content {
  padding: 2%;
}
.section-content {
  background-color: white;
  // padding: 2%;
  margin-left: 4%;
  margin-right: 4%;
  // box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
  box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
}
.mat-btn-tpso {
  background-color: #18af0a;
  color: white;
}

.section-filter {
  // padding: 2%;
  margin-left: 4%;
  margin-right: 4%;
  // box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  //   -webkit-box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
  //   -moz-box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
  //   box-shadow: 2px 5px 27px 0px rgba(230, 230, 230, 1);
}
