table {
  width: 50%;
}

.mat-column-region {
  width: 30%;
}

.mat-column-public {
  width: 30%;
  text-align: center;
}

.mat-column-avg {
  width: 30%;
}

.mat-column-total3 {
  text-align: center;
  font-weight: bold;
}

.mat-column-total1 {
  font-weight: bold;
}
