<div class="page-main">
    <section class="content-header">
        <div class="section-header">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <label style="margin-top: 1%; font-size: 18px;">ข้อมูลน้ำหนักของรหัสจากตาราง IO และข้อมูล Commodity Code </label>
                </div>
                <div class="col-6 col-sm-6" style="text-align: right">
                    <button class="mat-btn-tpso" mat-raised-button (click)="openAddDialog()">เพิ่ม</button>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="section-content">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัส </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="commodityCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสรายการ </th>
                        <td mat-cell *matCellDef="let element"> {{element.commodityCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> ตั้งค่า </th>
                        <td mat-cell *matCellDef="let element">
                            <a><i (click)="openEditDialog(element)" class="far fa-edit"
                                    style="margin-right: 5%"></i></a>
                            <a [swal]="deleteCommodityCalSwal"><i class="far fa-trash-alt"></i></a>
                            <swal #deleteCommodityCalSwal title="คุณต้องการลบข้อมูล ใช่หรือไม่" text=""
                                type="info" [showCancelButton]="true" (confirm)="deleteCommodityCal(element)"></swal>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="dataSource.filteredData.length" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </div>
    </section>
</div>
<swal #succussDeleteCommodityCalSwal title="ลบข้อมูลสำเร็จ" [allowOutsideClick]="false" (confirm)="viewCommodityCal()" text="" type="success"></swal>