<div class="page-main">
    <section class="content-header">
        <div class="section-header">
            <div class="row">
                <div class="col-6">
                    <label style="margin-top: 1%; font-size: 18px;">หน้าจอสำหรับเชื่อมโยงปีฐาน <small>(Rebase)</small></label>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="section-content">
            <div class="row mt-2">
                <div class="col-2 text-right">
                    <p>ปีฐานปัจจุบัน :</p>
                </div>
                <div class="col-2">
                    <input class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 text-right">
                    <p>ปีฐานใหม่ :</p>
                </div>
                <div class="col-2">
                    <input class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 text-right">
                   
                </div>
                <button class="mr-2"  style="float: right;" mat-raised-button color="primary">Rebase</button>
                <button style="float: right;" mat-raised-button color="primary">เชื่อมโยงปีฐาน</button>
            </div>
        </div>
    </section>
</div>