<h1 mat-dialog-title>เพิ่มความคิดเห็น</h1>
<form [formGroup]="addComment" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>

        <mat-chip-list class="mat-chip-list-stacked mb-4" style="float: left;">
            <mat-chip  style="padding: 5px;" [ngClass]="{'chatUser':setColorChat(str)}" *ngFor="let str of comment"> 
                <p style="white-space: pre-wrap;margin: 5px;">{{str}}</p>
            </mat-chip>
        </mat-chip-list>

        <input *ngIf="btnSend" class="form-control" formControlName="strComment"
            [ngClass]="{'is-invalid': submitted && f.strComment.errors}">
        <div *ngIf="submitted && f.strComment.errors" class="invalid-feedback">
            <div *ngIf="f.strComment.errors.required" class="text-danger help-block">
                กรุณากรอกข้อความ
            </div>
        </div>
    </div>
    <div mat-dialog-actions style="float: right;">
        <div class="example-button-row">
        <button *ngIf="btnSend" type="submit" mat-raised-button color="primary" ><mat-icon>send</mat-icon> ส่ง</button>
        <a *ngIf="btnApprove" (click)="onApproveComment()"  mat-flat-button color="accent"> <mat-icon>check</mat-icon> ยอมรับ</a>
        <a *ngIf="btnReject" (click)="onRejectComment()" mat-flat-button color="warn"> <mat-icon>close</mat-icon> ยกเลิก</a>
        <a mat-raised-button (click)="onNoClick()">ปิด</a>
        </div>
    </div>
</form>