table{
    width: 100%;
    text-align: center;
    
  }

  th.mat-header-cell {
    text-align: center;
}

.dialogConfig{
  width: 600px;
  height: 600px;

}
.mat-dialog-actions{
justify-content: space-around;
}

  