.icon-region{
    width: 60px;
    margin-bottom: 20px;
}
.rss.opacity { filter: opacity(20%); }
.small-box>.small-box-footer {
    font-size: 12px;
}
a {
    color:black;
}
.content-box{
    padding: 3%;
}
.dropdown-menu a {
   color: black !important
}
.map-thailand{
    width: 80px;
    position: absolute;
    right: 15px;
    top: 12px;
    opacity: 0.1;
}
.card-button{
    color: #3e89ebb8;
}
.countProvince{
    color: #2c78dc;
}
#regionName{
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-size{
    font-size: 20px;
}