table {
  width: 100%;
  table-layout: auto;
}

.mat-column-0{
  width: 10%;
  text-align: center;
}
.mat-column-1{
  width: 10%;
  text-align: center;
}
.mat-column-2{
  width: 10%;
  text-align: left;
}
.mat-column-3{
  width: 10%;
  text-align: center;
}
.mat-column-4{
  width: 10%;
  text-align: right;
}
.mat-column-5{
  width: 10%;
  text-align: right;
}
.mat-column-6{
  width: 10%;
  text-align: right;
}
.mat-column-7{
  width: 10%;
  text-align: right;
}
.mat-column-8{
  width: 10%;
  text-align: right;
}
.mat-column-9{
  width: 10%;
  text-align: right;
}
.mat-column-10{
  width: 10%;
  text-align: right;
}
.mat-column-11{
  width: 10%;
  text-align: right;
}


th.mat-header-cell {
  text-align: center !important;
}
.ibar-baseyear .mat-column-2{
  width: 10%;
  text-align: left;
}