<div class="page-main">
    <section class="content-header">
        <div class="section-header">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <label style="margin-top: 1%; font-size: 18px;">ตั้งค่าข้อมูลระดับรายการ
                        <small>(Commodity,Survey,Source)</small></label>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="section-content">
            <div class="row">
                <div class="col-12">
                    <mat-card>
                        <mat-card-title style="text-align-last: left;">
                            <span style="font: 16px;">fsefew</span>
                        </mat-card-title>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>
</div>