.btn-add{
    background-color: #00b3ea;
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  input[type=text]:disabled {
    background: #fff;
  }
  .swal2-title {
  
    font-size: 16px !important;
   
  }