table {
  width: 210%;
}
.mat-column-commodityLevel {
  width: 4%;
  // text-align: right;
}


.mat-column-yearTerm {
  width: 3%;
  // text-align: right;
}


th.mat-header-cell {
  text-align: center !important;
}
