
.mat-column-0{
  width: 20%;
  text-align: left;
}
.mat-column-1{
  width: 10%;
  text-align: center;
}
.mat-column-2{
  width: 10%;
  text-align: center;
}
.mat-column-3{
  width: 7%;
  text-align: center;
}
.mat-column-4{
  width: 7%;
  text-align: center;
}
.mat-column-5{
  width: 7%;
  text-align: center;
}
.mat-column-6{
  width: 7%;
  text-align: center;
}
.mat-column-7{
  width: 7%;
  text-align: center;
}
.mat-column-8{
  width: 7%;
  text-align: center;
}
.mat-column-9{
  width: 7%;
  text-align: center;
}
.mat-column-10{
  width: 7%;
  text-align: center;
}
table {
  width: 100%;
  table-layout: fixed;
}
.table-source  tr {
  border: 1px solid rgba(0,0,0,.12);
}
th, td {
  width:auto;
}
.mat-grid-list{
  background-color: white;
  border-bottom: 1px solid  rgba(0,0,0,.12);;
}
