//displayedColumns: string[] = ['position', 'result', 'noOfData',
// 'minCurrentPrice', 'maxCurrentPrice', 'cvCurrentPrice', 'avgArCurrentPrice',
// 'avgArPreviousAdjustPrice', 'avgArRelative', 'avgGmCurrentPrice', 'avgGmPreviousAdjustPrice',
//'avgGmRelative', 'weightValue', 'indexValue'];
.example-container {
  height: 550px;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

th[mat-header-cell]{
  // text-align: center; 269ee4 45b5f5d6
  background-color:#269ee4;
  // font-size:20px;
  color: white;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

td,th {
  border-right: 1px solid #e0e0e0;
}

td.mat-column-result {
  padding-left: 8px;
  width: 37% !important;
}

th.mat-header-cell {
  text-align: center;
}

.mat-column-index {
  width: 9% !important;
  text-align: right;
}
.mat-column-mom {
  width: 6% !important;
  text-align: right;
}
.mat-column-aoa {
  width: 6% !important;
  text-align: right;
}
.mat-column-yoy {
  width: 6% !important;
  text-align: right;
}
.mat-column-baseIndex {
  width: 9% !important;
  text-align: right;
}
.mat-column-baseMom {
  width: 9% !important;
  text-align: right;
}.mat-column-baseAoa {
   width: 9% !important;
   text-align: right;
 }
.mat-column-baseYoy {
  width: 9% !important;
  text-align: right;
}
.taglink{
  text-decoration: underline !important;
  color: blue !important;
}
.show-div {
  // display: block;
}

.hidden-div {
  display: none;
}

::ng-deep .custom-dialog-container .mat-dialog-container {
  padding-top: unset;
  padding-bottom: unset;
  }
